<h1 class="register" style="margin-top: 20px; margin-left: 20px;">Registration</h1>

<mat-horizontal-stepper  #stepper>
  <mat-step [stepControl]="firstFormGroup" errorMessage="Name is required.">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Fill out your name</ng-template>
      <mat-form-field>
        <mat-label>Firstname</mat-label>
        <input matInput placeholder="First name" formControlName="firstName" required>
      </mat-form-field>
      <div style="color: red" *ngIf="(firstName.invalid && firstName.touched) || firstName.dirty">
        <small *ngIf="firstName.errors?.required" class="text.danger">First Name is required</small>
      </div>
      <mat-form-field>
        <mat-label>Lastname</mat-label>
        <input matInput placeholder="Last name" formControlName="lastName" required>
      </mat-form-field>
      <div style="color: red" *ngIf="(lastName.invalid && lastName.touched) || lastName.dirty">
        <small *ngIf="lastName.errors?.required" class="text.danger">Last Name is required</small>
      </div>

      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="secondFormGroup" errorMessage="Login information is required.">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Fill out your login information</ng-template>
      <mat-form-field>
        <mat-label>Username</mat-label>
        <input matInput placeholder="Username" formControlName="userName" required>
      </mat-form-field>
      <div style="color: red" *ngIf="(userName.invalid && userName.touched) || userName.dirty">
        <small *ngIf="userName.errors?.required" class="text.danger">User Name is required</small>
      </div>
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput placeholder="e.g. email@email.com" formControlName="email" required>
      </mat-form-field>
      <div style="color: red" *ngIf="(email.invalid && email.touched) || email.dirty">
        <small *ngIf="email.errors?.required" class="text.danger">Email is required</small>
        <small *ngIf="email.errors?.pattern" class="text.danger">Please provide a valid email address</small>
      </div>
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput placeholder="Password"  [type]="hidePassword ? 'password' : 'text'" formControlName="password" required>
        <mat-icon matSuffix (click)="hidePassword = !hidePassword">{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
      </mat-form-field>
      <div style="color: red" *ngIf="(password.invalid && password.touched) || password.dirty">
        <small *ngIf="password.errors?.required" class="text.danger">Password is required</small>
        <small *ngIf="password.errors?.pattern" class="text.danger">Password requires minimum 7 characters, at least one uppercase letter, one lowercase letter and one special character:</small>
      </div>

      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="thirdFormGroup">
    <form [formGroup]="thirdFormGroup">
      <ng-template matStepLabel>Fill out your information.</ng-template>
      <mat-form-field>
        <mat-label>Phone</mat-label>
        <input matInput placeholder="e.g. +41 123 45 67" formControlName="phone">
      </mat-form-field>
      <div style="color: red" *ngIf="(phone.invalid && phone.touched) || phone.dirty">
        <small *ngIf="phone.errors?.pattern" class="text.danger">Please enter a valid phone number</small>
      </div>
      <mat-form-field>
        <mat-label>Address</mat-label>
        <input matInput placeholder="Address" formControlName="address">
      </mat-form-field>
      <mat-form-field>
        <mat-label>City</mat-label>
        <input matInput placeholder="Zip Code/City" formControlName="city">
      </mat-form-field>

      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Register</ng-template>
    <p>Review your information and then click register.</p>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button (click)="onSubmit()" mat-flat-button color="primary" [disabled] ="!firstFormGroup.valid || !secondFormGroup.valid || !thirdFormGroup.valid">Register</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>
