<mat-card>
  <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
    <div class="register">Registration</div>
    <div>
      <mat-form-field>
        <input [class.is-invalid]="firstName.touched && firstName.invalid" type="text" matInput class="form-control" placeholder="First Name" formControlName="firstName">
      </mat-form-field>
      <div style="color: red" *ngIf="(firstName.invalid && firstName.touched) || firstName.dirty">
        <small *ngIf="firstName.errors?.required" class="text.danger">First Name is required</small>
      </div>
    </div>

    <div>
       <mat-form-field>
        <input [class.is-invalid]="lastName.touched && lastName.invalid" type="text" matInput class="form-control" placeholder="Last Name" formControlName="lastName">
      </mat-form-field>
      <div style="color: red" *ngIf="(lastName.invalid && lastName.touched) || lastName.dirty">
        <small *ngIf="lastName.errors?.required" class="text.danger">Last Name is required</small>
      </div>
    </div>

    <div>
        <mat-form-field>
          <input [class.is-invalid]="userName.touched && userName.invalid" type="text" matInput class="form-control" placeholder="User Name" formControlName="userName">
        </mat-form-field>
        <div style="color: red" *ngIf="(userName.invalid && userName.touched) || userName.dirty">
          <small *ngIf="userName.errors?.required" class="text.danger">User Name is required</small>
        </div>
      </div>

    <div>
         <mat-form-field>
          <input [class.is-invalid]="email.invalid && email.touched" type="email" matInput class="form-control" placeholder="Email" formControlName="email">
        </mat-form-field>
        <div style="color: red" *ngIf="(email.invalid && email.touched) || email.dirty">
          <small *ngIf="email.errors?.required" class="text.danger">Email is required</small>
          <small *ngIf="email.errors?.pattern" class="text.danger">Please provide a valid email address</small>
        </div>
    </div>

    <div>
        <mat-form-field>
         <input [class.is-invalid]="password.invalid && password.touched" matInput [type]="hidePassword ? 'password' : 'text'" class="form-control" placeholder="Password" formControlName="password">
         <mat-icon matSuffix (click)="hidePassword = !hidePassword">{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
       </mat-form-field>
       <div style="color: red" *ngIf="(password.invalid && password.touched) || password.dirty">
        <small *ngIf="password.errors?.required" class="text.danger">Password is required</small>
        <small *ngIf="password.errors?.pattern" class="text.danger">Password requires minimum 7 characters, at least one uppercase letter, one lowercase letter and one special character:</small>
      </div>
     </div>
    <div>
      <a href="#optional" routerLink="/register" (click)="optional=true" [hidden]="optional">Optional</a>
      <div id="optional" [hidden]="!optional">
        <div>
          <mat-form-field>
          <input [class.is-invalid]="phone.touched && phone.invalid" matInput class="form-control" placeholder="Telephone (only swiss)" type="tel" formControlName="phone">
          </mat-form-field>
          <div style="color: red" *ngIf="(phone.invalid && phone.touched) || phone.dirty">
            <small *ngIf="phone.errors?.pattern" class="text.danger">Please enter a valid phone number</small>
          </div>
        </div>
        <div>
          <mat-form-field>
            <input matInput class="form-control" placeholder="Address" formControlName="address" type="text">
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <input matInput class="form-control" placeholder="Zip Code/City" formControlName="city" type="text">
          </mat-form-field>
        </div>
      </div>
    </div>
     <br>
     <div>
        <button type = "submit" mat-flat-button color="primary" [disabled] = "!registrationForm.valid" >Register</button>
     </div>
  </form>
</mat-card>
