<h1 style="margin-top: 10px;">Search</h1>
<div>
  <h5>Set filters:</h5>
  <input type="text" [(ngModel)]="filterText"  placeholder="Search for ...">
  <input type="text" [(ngModel)]="filterLocation" placeholder="Search for a location">
  <input type="number" [(ngModel)]="maxPrice" placeholder="Max. Price">
  <input type="number" [(ngModel)]="minPrice" placeholder="Min. Price">
  <div style="margin-top: 10px">
    <input type="checkbox" [(ngModel)]="availability" placeholder="availability">
    <small>Check to show unshippable products.</small>
  </div>
</div>

<div class="row" style="margin-top: 20px;">
  <div *ngFor="let product of products | async | productfilter: filterText : filterLocation : maxPrice : minPrice : availability">
    <app-product-item [product]="product"></app-product-item>
  </div>
</div>
