<hr>
<mat-card>
  <div *ngIf="!loggedIn">
    <h1 style="margin-left: 1rem">Login</h1>
    <mat-form-field style="margin-left: 1rem">
      <input matInput placeholder="User Name" [(ngModel)]="userName" name="userName">
    </mat-form-field>
    <mat-form-field style="margin-left: 1rem">
      <input matInput placeholder="Password" [(ngModel)]="password" name="password" type="password" (keydown.enter)="login()">
    </mat-form-field>
    <button mat-flat-button color="primary" (click)="login()" >Login</button>
  </div>

  <div *ngIf="loggedIn">
    <h1 style="margin-left: 1rem">Logout</h1>
    <button mat-flat-button color="warn" (click)="logout()">Logout</button>
    You are currently logged in as {{ userName }}
  </div>
</mat-card>

<mat-card>
  <button mat-flat-button color="primary" (click)="accessSecuredEndpoint()">Access Secure Endpoint (only for logged in users)</button>
  {{ secureEndpointResponse }}
</mat-card>

<mat-card *ngIf="isAdmin">
  <div>
    You are an administrator
  </div>
</mat-card>
