<br>
<br>

<mat-card>
  <div *ngIf="!(loggedIn | async)">
    <h1 style= "margin-left: 1rem">Login </h1>
    <mat-form-field style= "padding-left: 1rem;">
      <input matInput placeholder="User Name" [(ngModel)]="userName" name="userName">
    </mat-form-field>
    <mat-form-field style= "padding-left: 1rem;">
      <input matInput placeholder="Password" [type]="hidePassword ? 'password' : 'text'" [(ngModel)]="password" name="password" (keydown.enter)="onLogin()">
      <mat-icon matSuffix (click)="hidePassword = !hidePassword">{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
    </mat-form-field>
    <button mat-flat-button style="background-color: rgb(116, 153, 255); color: rgb(255, 255, 255);" (click)="onLogin()" >Login</button>
  </div>
