<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="/">Team 10</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <div class="navbar-nav ml-auto">
      <img src = "assets/icons/heart-fill.svg" class="nav-link" routerLink="/wishlist" [hidden]='!(loggedIn | async)'><i class="far fa-user"></i>
      <a class="nav-link" routerLink="/admin" [hidden]='!(isAdmin | async)'><i class="far fa-user"></i> Admin</a>
      <a class="nav-link" routerLink="/createOffer" *ngIf='loggedIn | async'><i class="fas fa-plus"></i> Create Offer</a>
      <a class="nav-link" [routerLink]="['/profile', getUserName()]" *ngIf="!(isAdmin | async) && (loggedIn | async)"><i class="far fa-user"></i> My Profile</a>
      <a class="nav-link" routerLink="/login" [hidden]='loggedIn | async'>Login</a>
      <a class="nav-link" (click)="onLogout()" [hidden]='!(loggedIn | async)'>Logout</a>
      <a class="nav-link" routerLink="/register" [hidden]='loggedIn | async'>Register</a>
    </div>
  </div>
</nav>
