<br>
<mat-card>
  <h1>Reviews</h1>
  <div *ngFor="let review of reviews | async">
    <div class="body" style="margin-bottom: 30px;">
      <b class="card-title"><mat-icon style="align-content: center;">face</mat-icon>{{review.userName}}</b>
      <br/>
      <ngb-rating readonly="true" style="outline: none;" [rate]="review.rating" max = 5></ngb-rating>
      <p class="card-text">{{review.reviewText}}</p>
      <p class="card-text">Reviewed on {{review.createdAt| date: 'MMMM d, y'}}</p>
    </div>
  </div>
</mat-card>
