<div class="card" style="width: 90%;">
    <div class="card-body">
      <h1 class="card-title;" style="float:left">{{product.title}}</h1>
      <h1 class="card-price;" style="float:right">{{product.price}} CHF</h1>
      <div style="clear:left;"></div>
      <p class="card-description">Description: {{product.description}}</p>
      <p class="card-location">Location: {{product.location}}</p>
      <p *ngIf="product.status == true" style="float:left">
        This product: available / 
      </p>
      <p *ngIf="product.status == false" style="float:left">
          This product: unavailable / 
      </p>

      <p *ngIf="product.shippable == true" style="float:center">
        shippable
      </p>
      <p *ngIf="product.shippable == false" style="float:center">
          unshippable
      </p>
      <footer class="card-category" style="float:right">{{product.category}}</footer>
    </div>
  </div>
  