<div class="card-group">
  <div class="card">
    <div class="card-body">
      <div>
        <h1 style="float:left; width: 300px;" class="card-title">{{product.title}}<span *ngIf="product.approved" style="margin-left: 15px"><mat-icon>verified</mat-icon></span>
        </h1>
      </div>
      <div style="float: right">
        <h1 *ngIf="product.type == 'Sell'" style="float:right">{{product.price}} CHF</h1>
        <h1 *ngIf="product.type == 'Hire'" style="float:right">{{product.price}} CHF/h</h1>
        <h1 *ngIf="product.type == 'Lend'" style="float:right">{{product.price}} CHF/h</h1>
      </div>
      <div style="clear:left;"></div>
      <div class="card-description">
      <div style="margin-bottom: 10px">
        <mat-accordion>
          <mat-expansion-panel (opened)="panelOpenState = true"
                               (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Description
              </mat-panel-title>
              <mat-panel-description>
                Click to {{panelOpenState ? 'close' : 'read'}} description.
              </mat-panel-description>
            </mat-expansion-panel-header>
            <p>{{product.description}}</p>
          </mat-expansion-panel>
        </mat-accordion>
      </div>

      <div>
        <p *ngIf="product.location != ''">Location: {{product.location}}</p>
        <p *ngIf="product.location == ''" style="color: white;">...</p>
        <p *ngIf="product.status == true" style="float:left">
          available /
        </p>
        <p *ngIf="product.status == false" style="float:left">
          unavailable /
        </p>

        <p class="card-category" style="float:right">{{product.category}}</p>

        <p *ngIf="product.shippable == true">
          shippable
        </p>
        <p *ngIf="product.shippable == false">
          unshippable
        </p>
      </div>

     </div>
      <hr>
      <button type="button" class="btn btn-md btn-info" *ngIf="userId!=product.userId.toString() && userId != null && product.status == true && !admin" (click)="onBuy()" style="float:right">Buy</button>
      <button type="button" class="btn btn-md btn-outline-danger" *ngIf="(userId==product.userId.toString())" (click)="onProductDelete(product.productId)" style="float:right">Delete</button>
      <button type="button" class="btn btn-md btn-outline-danger" *ngIf="(product.approved == false && admin)" (click)="onProductDelete(product.productId)" style="float:right">Delete</button>
      <button type="button" class="btn btn-md btn-dark" *ngIf="admin && !product.approved" (click)="onApprove(product.productId)" style="float:right">Approve</button>
      <!--<button type="button" class="btn btn-md btn-outline-danger" *ngIf="admin" (click)="onProductDelete(product.productId)" style="float:right">Delete</button> -->
      <button type="button" class="btn btn-md btn-dark" *ngIf="userId==product.userId.toString()" (click)="change=true" [hidden]="change" style="float:right">Change</button>
      <div id="change" [hidden]="!change">
        <app-product-update [productTitle]="product.title"
                            [productDescription]="product.description"
                            [productPrice]="product.price.toString()"
                            [productStatus]="product.status"
                            [product]="product" >
        </app-product-update>
      </div>
    </div>
  </div>

</div>
