<div class="card-group">
  <div class="card">
    <a href="product/{{product.productId}}" style="text-decoration-line: none; color: black;">
    <img [src]="endpointURL + product.picture" class="card-img-top img-fluid" style="padding: 1rem">
    </a>
    <div class="card-body">
      <a href="product/{{product.productId}}" style="text-decoration-line: none; color: black;">
      <div>
        <h1 style="float:left; width: 300px;" class="card-title">{{product.title}}<span *ngIf="product.approved" style="margin-left: 15px"><mat-icon>verified</mat-icon></span>
        </h1>
      </div>
      <div style="float: right">
        <h1 *ngIf="product.type == 'Sell'" style="float:right">{{product.price}} CHF</h1>
        <h1 *ngIf="product.type == 'Hire'" style="float:right">{{product.price}} CHF/h</h1>
        <h1 *ngIf="product.type == 'Lend'" style="float:right">{{product.price}} CHF/h</h1>
      </div>
      <div style="clear:left;"></div>
      <small *ngIf="product.type == 'Sell'">Product to buy.</small>
      <small *ngIf="product.type == 'Hire'">Service to hire.</small>
      <small *ngIf="product.type == 'Lend'">Product to lend.</small>

      </a>
      <hr>
      <img *ngIf="(loggedIn | async ) && !(isAdmin | async)" src="{{iconPath()}}" id="wishlistIcon" (click)="changeWishlist()">
      <button type="button" class="btn btn-md" *ngIf="(userId | async) != product.userId.toString() && (loggedIn | async) && product.status == true && !(isAdmin | async)" (click)="openPurchaseDialog()" style="float:right; background-color: rgb(116, 153, 255); color: rgb(255, 255, 255)">Buy</button>
      <button type="button" class="btn btn-md btn-outline-danger" *ngIf="((userId | async)==product.userId.toString())" (click)="onProductDelete(product.productId)" style="float:right">Delete</button>
      <button type="button" class="btn btn-md btn-outline-danger" *ngIf="(product.approved == false && (isAdmin | async))" (click)="onProductDelete(product.productId)" style="float:right">Delete</button>
      <button type="button" class="btn btn-md" *ngIf="(isAdmin | async) && !product.approved" (click)="onApprove()" style="float:right; background-color: rgb(110, 202, 110); color: rgb(255, 255, 255)">Approve</button>
      <!--<button type="button" class="btn btn-md btn-outline-danger" *ngIf="admin" (click)="onProductDelete(product.productId)" style="float:right">Delete</button> -->
      <button type="button" class="btn btn-md" *ngIf="(userId | async)==product.userId" (click)="change=true" [hidden]="change" style="float:right; background-color: rgb(57, 68, 97); color: rgb(255, 255, 255)">Change</button>
      <div id="change" [hidden]="!change">
        <app-product-update [productTitle]="product.title"
                            [productDescription]="product.description"
                            [productPrice]="product.price.toString()"
                            [productStatus]="product.status"
                            [product]="product" >
        </app-product-update>
        <a [hidden]="!change" (click)="change=false" style="float: right; text-decoration-line: underline">Close</a>
      </div>
    </div>
  </div>

</div>
