<hr>
<h1 style="float:left">Welcome {{user}}!</h1>
  <h2>
    <a routerLink="/search" style="float:right; color: #68b0ab"><i class="fas fa-search"></i> Search</a>
  </h2>
  <div style="clear:left;"></div>

  <h1>Popular Categories
  <div class="btn-group">
  <button class="btn btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    all
  </button>
  <div class="dropdown-menu scrollable-menu">
    <a class="dropdown-item" href="/catalog/Accessories">Accessories</a>
    <a class="dropdown-item" href="/catalog/AudioTv">Audio & TV</a>
    <a class="dropdown-item" href="/catalog/Books">Books</a>
    <a class="dropdown-item" href="/catalog/Clothing">Clothing</a>
    <a class="dropdown-item" href="/catalog/Electronics">Electronics</a>
    <a class="dropdown-item" href="/catalog/Games">Games</a>
    <a class="dropdown-item" href="/catalog/Animals">Animals</a>
    <a class="dropdown-item" href="/catalog/ClassesTutoring">Classes & Tutoring</a>
    <a class="dropdown-item" href="/catalog/ComputerMobilePhones">Computer & Mobile Phones</a>
    <a class="dropdown-item" href="/catalog/HouseholdCleaning">Household & Cleaning</a>
    <a class="dropdown-item" href="/catalog/MovingTransport">Moving & Transport</a>
    <a class="dropdown-item" href="/catalog/PartyCatering">Party & Catering</a>
  </div>
  </div>
  </h1>

  <div class="all-icons row">
    <div class="icon-div col">
      <a class="icon-link" href="/catalog/PartyCatering"><img class="icon" src="assets/icons/toast.png" alt="toast-icon"><small>Party & Catering</small></a>
    </div>
    <div class="icon-div col">
      <a class="icon-link" href="/catalog/Clothing"><img class="icon" src="assets/icons/shirt.png" alt="shirt-icon"><small>Clothing</small></a>
    </div>
    <div class="icon-div col">
      <a class="icon-link" href="/catalog/Games"><img class="icon" src="assets/icons/gamepad.png" alt="gamepad-icon"><small>Games</small></a>
    </div>
    <div class="icon-div col">
      <a class="icon-link" href="/catalog/Books"><img class="icon" src="assets/icons/library.png" alt="library-icon"><small>Books</small></a>
    </div>
    <div class="icon-div col">
      <a class="icon-link" href="/catalog/Electronics"><img class="icon" src="assets/icons/mouse.png" alt="mouse-icon"><small>Electronics</small></a>
    </div>
    <div class="icon-div col">
      <a class="icon-link" href="/catalog/MovingTransport"><img class="icon" src="assets/icons/truck.png" alt="truck-icon"><small>Moving & Transport</small></a>
    </div>
    <div class="icon-div col">
      <a class="icon-link" href="/catalog/ClassesTutoring"><img class="icon" src="assets/icons/blackboard.png" alt="blackboard-icon"><small>Classes & Tutoring</small></a>
    </div>
    <div class="icon-div col">
      <a class="icon-link" href="/catalog/HouseholdCleaning"><img class="icon" src="assets/icons/vacuum-cleaner.png" alt="vacuum-icon"><small>Household & Cleaning</small></a>
    </div>
  </div>

  <h1 style="margin-top: 16px;">Recently added in "sell"</h1>
  <div class="row">
    <div *ngFor="let product of sellProducts | async">
      <app-product-item [product] = "product"></app-product-item>
    </div>
  </div>


  <h1 style="margin-top: 16px;">Recently added in "lend"</h1>
  <div class="row">
    <div *ngFor="let product of lendProducts | async">
      <app-product-item [product] = "product"></app-product-item>
    </div>
  </div>


  <h1 style="margin-top: 16px;">Recently added in "hire"</h1>
  <div class="row">
    <div *ngFor="let product of hireProducts | async">
      <app-product-item [product] = "product"></app-product-item>
    </div>
  </div>



  <div class="footer">
    Icons made by <a href="https://www.flaticon.com/authors/roundicons" title="Roundicons">Roundicons</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>
  </div>



