<hr>
<h1 style="float:left">Welcome {{user}}!</h1>
  <h2>
    <a routerLink="/search" style="float:right; color: #68b0ab"><i class="fas fa-search"></i> Search</a>
  </h2>
  <div style="clear:left;"></div>

  <h1>Popular Categories
  <div class="btn-group">
  <button class="btn btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    all
  </button>
  <div class="dropdown-menu scrollable-menu">
    <a class="dropdown-item">Accessories</a>
    <a class="dropdown-item">Audio & TV</a>
    <a class="dropdown-item">Books</a>
    <a class="dropdown-item">Clothing</a>
    <a class="dropdown-item">Electronics</a>
    <a class="dropdown-item">Games</a>
    <a class="dropdown-item">Animals</a>
    <a class="dropdown-item">Classes & Tutoring</a>
    <a class="dropdown-item">Computer & Mobile Phones</a>
    <a class="dropdown-item">Household & Cleaning</a>
    <a class="dropdown-item">Moving & Transport</a>
    <a class="dropdown-item">Party & Catering</a>
  </div>
  </div>
  </h1>

  <div class="all-icons row">
    <div class="icon-div col">
      <a class="icon-link" href=""><img class="icon" src="assets/icons/toast.png" alt="toast-icon"><small>Party & Catering</small></a>
    </div>
    <div class="icon-div col">
      <a class="icon-link" href=""><img class="icon" src="assets/icons/shirt.png" alt="shirt-icon"><small>Clothing</small></a>
    </div>
    <div class="icon-div col">
      <a class="icon-link" href=""><img class="icon" src="assets/icons/gamepad.png" alt="shirt-icon"><small>Games</small></a>
    </div>
    <div class="icon-div col">
      <a class="icon-link" href=""><img class="icon" src="assets/icons/library.png" alt="shirt-icon"><small>Books</small></a>
    </div>
    <div class="icon-div col">
      <a class="icon-link" href=""><img class="icon" src="assets/icons/mouse.png" alt="shirt-icon"><small>Electronics</small></a>
    </div>
    <div class="icon-div col">
      <a class="icon-link" href=""><img class="icon" src="assets/icons/truck.png" alt="shirt-icon"><small>Moving & Transport</small></a>
    </div>
    <div class="icon-div col">
      <a class="icon-link" href=""><img class="icon" src="assets/icons/blackboard.png" alt="shirt-icon"><small>Classes & Tutoring</small></a>
    </div>
    <div class="icon-div col">
      <a class="icon-link" href=""><img class="icon" src="assets/icons/vacuum-cleaner.png" alt="shirt-icon"><small>Household & Cleaning</small></a>
    </div>
  </div>

  <h1 style="margin-top: 16px;">Recently added in "sell"</h1>
  <div class="row">
    <div *ngFor="let product of sellProducts | async">
      <app-product-item [product] = "product"></app-product-item>
    </div>
  </div>


  <h1 style="margin-top: 16px;">Recently added in "lend"</h1>
  <div class="row">
    <div *ngFor="let product of lendProducts | async">
      <app-product-item [product] = "product"></app-product-item>
    </div>
  </div>


  <h1 style="margin-top: 16px;">Recently added in "hire"</h1>
  <div class="row">
    <div *ngFor="let product of hireProducts | async">
      <app-product-item [product] = "product"></app-product-item>
    </div>
  </div>



  <div class="footer">
    Icons made by <a href="https://www.flaticon.com/authors/roundicons" title="Roundicons">Roundicons</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>
  </div>



