<mat-card>
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>// title from backend </mat-card-title>
        <mat-card-title> // price from backend </mat-card-title>
    </mat-card-header>

    <div>
        <mat-card-content>
            <p>
            Description:
            </p>
        </mat-card-content>
    </div>
    

    <div>
        <mat-card-content>
            <p>
            location: 
            </p>
        </mat-card-content>
    </div>

    <div>
        <mat-card-content>
            <p>
            sell or lend
            </p>
        </mat-card-content>
    </div>

    <div>
        <mat-card-content>
            <p>
            This Product is: 
            </p>
        </mat-card-content>
    </div>

    <div>
        <mat-card-content>
            <p>
            This product 
            </p>
        </mat-card-content>
    </div>

</mat-card>