<mat-card>
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{ title }} </mat-card-title>
        <mat-card-title> {{ price }} </mat-card-title>
    </mat-card-header>

    <div>
        <mat-card-content>
            <p>
            Description: {{ description }}
            </p>
        </mat-card-content>
    </div>
    

    <div>
        <mat-card-content>
            <p>
            Location: {{ location }}
            </p>
        </mat-card-content>
    </div>

    <div>
        <mat-card-content>
            <p *ngIf="sellOrLend == true">
                This product is for sale.
            </p>

            <p *ngIf="sellOrLend == false">
                This product can be lent.
            </p>
        </mat-card-content>
    </div>

    <div>
        <mat-card-content>
            <p *ngIf="status == true">
                This product is available.
            </p>

            <p *ngIf="status == false">
                This product is unavailable.
            </p>
        </mat-card-content>
    </div>

    <div>
        <mat-card-content>
            <p *ngIf="deliverable == true">
                This product is deliverable.
            </p>

            <p *ngIf="deliverable == false">
                This product is undeliverable.
            </p>
        </mat-card-content>
    </div>

</mat-card>