<hr>
<mat-card>
<div>
  <h1>Profile - {{getUserName()}}</h1>
</div>
  <mat-tab-group>
    <mat-tab label="User Information"> <div *ngFor="let user of userInfo | async">
      <div class="row">
        <div class="col-lg-4">
          <h2 style="margin-top: 10px">Account Details</h2>
          <div class="card" style="width: 18rem;">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Email: {{user.email}}</li>
              <li class="list-group-item">Password: *****</li>
              <li class="list-group-item">Registered as: Private Person </li>
              <li class="list-group-item">UserId: {{user.userId}}</li>
            </ul>
          </div>
        </div>

        <div class="col-lg-4">
          <h2 style="margin-top: 10px">User Information</h2>
          <div class="card" style="width: 18rem;">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">First Name: {{user.firstName}}</li>
              <li class="list-group-item">Last Name: {{user.lastName}}</li>
              <li class="list-group-item">User Name: {{user.userName}}</li>
              <li class="list-group-item" *ngIf="user.phone==null">Phone Number: none</li>
              <li class="list-group-item" *ngIf="user.phone!=null">Phone Number: {{user.phone}}</li>
            </ul>
          </div>
        </div>


        <div class="col-lg-4">
          <h2 style="margin-top: 10px">Address</h2>
          <div class="card" style="width: 18rem;">
            <ul class="list-group list-group-flush">
              <li class="list-group-item" *ngIf="user.address==null">Address: none</li>
              <li class="list-group-item" *ngIf="user.address!=null">Phone Number: {{user.address}}</li>
              <li class="list-group-item" *ngIf="user.city==null">City: none</li>
              <li class="list-group-item" *ngIf="user.city!=null">Phone Number: {{user.city}}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    </mat-tab>

    <mat-tab label="Your Offers">
      <div class="row">
        <div class="col">
          <h2 style="margin-top: 10px">Your Available Offers</h2>
          <div *ngFor="let product of products | async" style="width: 500px">
            <app-product-item *ngIf="product.status == true" [product] = "product"></app-product-item>
          </div>
        </div>
        <div class="col">
          <h2 style="margin-top: 10px">Your Unavailable Offers</h2>
          <div *ngFor="let product of products | async" style="width: 500px">
            <app-product-item *ngIf="product.status == false" [product] = "product"></app-product-item>
          </div>
        </div>
      </div>
    </mat-tab>

    <mat-tab label="Sold">
      <h2 style="color: rgba(114, 114, 114, 0.658)">Please delete Products you sold and update Services and Products you lent in "Your Offers".</h2>
      <div class="row">
        <div class="col">
          <h2 style="margin-top: 10px">Your Sold Offers</h2>
          <div *ngFor="let sold of soldOffers | async">
            <mat-card style="width: 300px;" *ngIf="sold.type == 'Sell'">
              <mat-card-title>{{sold.title}}</mat-card-title>
              <mat-card-content>
                <p>Price at point of sale: {{sold.pointOfSalePrice}}</p>
                <p>Delivery Address: {{sold.deliveryAddress}}</p>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
        <div class="col">
          <h2 style="margin-top: 10px">Your Lent Offers</h2>
          <div *ngFor="let sold of soldOffers | async">
            <mat-card style="width: 300px;" *ngIf="sold.type == 'Lend'">
              <mat-card-title>{{sold.title}}</mat-card-title>
              <mat-card-content>
                <p>Price at point of sale: {{sold.pointOfSalePrice}}</p>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
        <div class="col">
          <h2 style="margin-top: 10px">Your Hire Offers</h2>
          <div *ngFor="let sold of soldOffers | async" style="float:left">
            <mat-card style="width: 300px;" *ngIf="sold.type == 'Hire'">
              <mat-card-title>{{sold.title}}</mat-card-title>
              <mat-card-content>
                <p>Price at point of sale: {{sold.pointOfSalePrice}}</p>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
      </div>
    </mat-tab>



    <mat-tab label="Bought">
      <div class="row">
        <div class="col">
          <h2 style="margin-top: 10px">Offers you bought</h2>
          <div *ngFor="let bought of boughtOffers | async" >
            <mat-card style="width: 300px;" *ngIf="bought.type == 'Sell'">
              <mat-card-title>{{bought.title}}</mat-card-title>
              <mat-card-content>
                <p>Price at point of sale: {{bought.pointOfSalePrice}}</p>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
        <div class="col">
          <h2 style="margin-top: 10px">Offers you lent</h2>
          <div *ngFor="let bought of boughtOffers | async">
            <mat-card style="width: 300px;" *ngIf="bought.type == 'Lend'">
              <mat-card-title>{{bought.title}}</mat-card-title>
              <mat-card-content>
                <p>Price at point of sale: {{bought.pointOfSalePrice}}</p>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
        <div class="col">
          <h2 style="margin-top: 10px">Offers you hired</h2>
          <div *ngFor="let bought of boughtOffers | async">
            <mat-card style="width: 300px;" *ngIf="bought.type == 'Hire'">
              <mat-card-title>{{bought.title}}</mat-card-title>
              <mat-card-content>
                <p>Price at point of sale: {{bought.pointOfSalePrice}}</p>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
      </div>

    </mat-tab>


    <mat-tab label="Wallet">
      <h2 style="margin-top: 10px;">Wallet</h2>
      <div *ngFor="let user of userInfo | async">
        <p>You've got {{user.wallet}} CHF in your Wallet.</p>
        <p *ngIf="user.wallet > 0">Let's buy something!</p>
        <p *ngIf="user.wallet <= 0">Let's try to sell something!</p>
      </div>
    </mat-tab>
</mat-tab-group>
</mat-card>