<br>
<br>

<mat-card>
<div>
  <h1>Profile - {{getUserName()}}</h1>
</div>
  <mat-tab-group>
    <mat-tab label="User Information">
      <div *ngFor="let user of userInfo | async"  style="padding: 1rem">
      <div class="row">
        <div class="col-lg-4">
          <h2 style="margin-top: 10px">Account Details</h2>
          <div class="card" style="width: 100%;">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Email: {{user.email}}</li>
              <li class="list-group-item">Password: *****</li>
              <li class="list-group-item">Registered as: Private Person </li>
              <li class="list-group-item">UserId: {{user.userId}}</li>
            </ul>
          </div>
        </div>

        <div class="col-lg-4">
          <h2 style="margin-top: 10px">User Information</h2>
          <div class="card" style="width: 100%;">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">First Name: {{user.firstName}}</li>
              <li class="list-group-item">Last Name: {{user.lastName}}</li>
              <li class="list-group-item">User Name: {{user.userName}}</li>
              <li class="list-group-item" *ngIf="user.phone==null">Phone Number: none</li>
              <li class="list-group-item" *ngIf="user.phone!=null">Phone Number: {{user.phone}}</li>
            </ul>
          </div>
        </div>


        <div class="col-lg-4">
          <h2 style="margin-top: 10px">Address</h2>
          <div class="card" style="width: 100%;">
            <ul class="list-group list-group-flush">
              <li class="list-group-item" *ngIf="user.address==null">Address: none</li>
              <li class="list-group-item" *ngIf="user.address!=null">Address: {{user.address}}</li>
              <li class="list-group-item" *ngIf="user.city==null">City: none</li>
              <li class="list-group-item" *ngIf="user.city!=null">City: {{user.city}}</li>
            </ul>
          </div>
        </div>
      </div>

      <button (click)="change = true" [hidden]="change" type="button" class="btn btn-md" style="float:right; background-color: rgb(116, 153, 255); color: rgb(255, 255, 255)">Change</button>
        <div *ngIf="change">
          <button (click)="change = false" [hidden]="!change" type="button" class="btn btn-md" style="float:right; background-color: rgb(116, 153, 255); color: rgb(255, 255, 255)">Close</button>
          <app-profile-update [user] = "user"></app-profile-update>
        </div>
    </div>
    </mat-tab>

    <mat-tab label="Your Offers"> <div style="padding: 1rem">
      <div class="col">
        <h2 style="margin-top: 10px">Your Available Offers</h2>
        <div class="row">
          <div *ngFor="let product of products | async">
            <app-product-item *ngIf="product.status == true" [product] = "product"></app-product-item>
          </div>
        </div>
        <h2 style="margin-top: 10px">Your Unavailable Offers</h2>
        <div class="row">
          <div *ngFor="let product of products | async">
            <app-product-item *ngIf="product.status == false" [product] = "product"></app-product-item>
          </div>
        </div>
      </div>
    </div>
    </mat-tab>

    <mat-tab label="Sold"> <div style="padding: 1rem">
      <h2 style="color: rgba(114, 114, 114, 0.658)">Please delete Products you sold and update Services and Products you lent in "Your Offers".</h2>
      <div class="col">
        <h2 style="margin-top: 10px">Your Sold Offers</h2>
        <div class="row">
          <div *ngFor="let sold of soldOffers | async">
            <mat-card style="width: 300px; margin-top: auto;" *ngIf="sold.type == 'Sell'">
              <mat-card-title>{{sold.title}}</mat-card-title>
              <mat-card-content>
                <p>Price at point of sale: {{sold.pointOfSalePrice}} CHF</p>
                <p *ngIf="sold.deliveryAddress != null">Delivery Address: {{sold.deliveryAddress}}</p>
              </mat-card-content>
              <a href="/review/{{sold.productId}}">Show reviews</a>
            </mat-card>
          </div>
        </div>
        <h2 style="margin-top: 10px">Your Lent Offers</h2>
        <div class="row">
          <div *ngFor="let sold of soldOffers | async">
            <mat-card style="width: 300px; margin-top: auto;" *ngIf="sold.type == 'Lend'">
              <mat-card-title>{{sold.title}}</mat-card-title>
              <mat-card-content>
                <p *ngIf="sold.deliveryAddress != null">Delivery Address: {{sold.deliveryAddress}}</p>
                <p *ngIf="sold.amountOfHours != null">Price at point of sale: {{sold.amountOfHours}} hours à {{sold.pointOfSalePrice}} CHF</p>
                <p *ngIf="sold.amountOfHours == null">Price at point of sale: {{sold.pointOfSalePrice}} CHF</p>
              </mat-card-content>
              <a href="/review/{{sold.productId}}">Show reviews</a>
            </mat-card>
          </div>
        </div>
        <h2 style="margin-top: 10px">Your Hire Offers</h2>
        <div class="row">
          <div *ngFor="let sold of soldOffers | async" style="float:left">
            <mat-card style="width: 300px; margin-top: auto;" *ngIf="sold.type == 'Hire'">
              <mat-card-title>{{sold.title}}</mat-card-title>
              <mat-card-content>
                <p *ngIf="sold.amountOfHours != null">Price at point of sale: {{sold.amountOfHours}} hours à {{sold.pointOfSalePrice}} CHF</p>
                <p *ngIf="sold.amountOfHours == null">Price at point of sale: {{sold.pointOfSalePrice}} CHF</p>
              </mat-card-content>
              <a href="/review/{{sold.productId}}">Show reviews</a>
            </mat-card>
          </div>
        </div>
      </div>
    </div>
    </mat-tab>



    <mat-tab label="Bought"> <div style="padding: 1rem">
      <div class="col">
        <h2 style="margin-top: 10px">Offers you bought</h2>
        <div class="row">
          <div *ngFor="let bought of boughtOffers | async" >
            <mat-card style="width: 300px; margin-top: auto;" *ngIf="bought.type == 'Sell'">
              <mat-card-title>{{bought.title}}</mat-card-title>
              <mat-card-content>
                <p>Price at point of sale: {{bought.pointOfSalePrice}}</p>
              </mat-card-content>
              <app-product-review [productId]="bought.productId"></app-product-review>
            </mat-card>
          </div>
        </div>
        <h2 style="margin-top: 10px">Offers you borrowed</h2>
        <div class="row">
          <div *ngFor="let bought of boughtOffers | async">
            <mat-card style="width: 300px; margin-top: auto;" *ngIf="bought.type == 'Lend'">
              <mat-card-title>{{bought.title}}</mat-card-title>
              <mat-card-content>
                <p *ngIf="bought.amountOfHours != null">Price at point of sale: {{bought.amountOfHours}} hours à {{bought.pointOfSalePrice}} CHF</p>
                <p *ngIf="bought.amountOfHours == null">Price at point of sale: {{bought.pointOfSalePrice}} CHF</p>
              </mat-card-content>
              <app-product-review [productId]="bought.productId"></app-product-review>
            </mat-card>
          </div>
        </div>
        <h2 style="margin-top: 10px">Offers you hired</h2>
        <div class="row">
          <div *ngFor="let bought of boughtOffers | async">
            <mat-card style="width: 300px; margin-top: auto;" *ngIf="bought.type == 'Hire'">
              <mat-card-title>{{bought.title}}</mat-card-title>
              <mat-card-content>
                <p *ngIf="bought.amountOfHours != null">Price at point of sale: {{bought.amountOfHours}} hours à {{bought.pointOfSalePrice}} CHF</p>
                <p *ngIf="bought.amountOfHours == null">Price at point of sale: {{bought.pointOfSalePrice}} CHF</p>
              </mat-card-content>
              <app-product-review [productId]="bought.productId"></app-product-review>
            </mat-card>
          </div>
        </div>
      </div>
    </div>
    </mat-tab>


    <mat-tab label="Wallet"> <div style="padding: 1rem">
      <h2 style="margin-top: 10px;">Wallet</h2>
      <div *ngFor="let user of userInfo | async">
        <p>You've got {{user.wallet}} CHF in your Wallet.</p>
        <p *ngIf="user.wallet > 0">Let's buy something!</p>
        <p *ngIf="user.wallet <= 0">Let's try to sell something!</p>
      </div>
    </div>
    </mat-tab>
</mat-tab-group>
</mat-card>
