.mat-card{
    width: 350px;
    height: auto;
    display: block;
    margin-left:auto;
    margin-right:auto;
    vertical-align:middle;
  }
  
  .createOffer{
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
  }
  