<br>
<br>

<div class="btn-group">
  <h1 style="margin-top: 10px; font-weight: bold;">{{category}}</h1>
  <button class="btn btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    {{category}}
  </button>
  <div class="dropdown-menu scrollable-menu">
    <a class="dropdown-item" href="/catalog/Accessories">Accessories</a>
    <a class="dropdown-item" href="/catalog/AudioTV">Audio & TV</a>
    <a class="dropdown-item" href="/catalog/Books">Books</a>
    <a class="dropdown-item" href="/catalog/Clothing">Clothing</a>
    <a class="dropdown-item" href="/catalog/Electronics">Electronics</a>
    <a class="dropdown-item" href="/catalog/Games">Games</a>
    <a class="dropdown-item" href="/catalog/Animals">Animals</a>
    <a class="dropdown-item" href="/catalog/ClassesTutoring">Classes & Tutoring</a>
    <a class="dropdown-item" href="/catalog/ComputerMobilePhones">Computer & Mobile Phones</a>
    <a class="dropdown-item" href="/catalog/HouseholdCleaning">Household & Cleaning</a>
    <a class="dropdown-item" href="/catalog/MovingTransport">Moving & Transport</a>
    <a class="dropdown-item" href="/catalog/PartyCatering">Party & Catering</a>
  </div>
</div>

<div class="col">
  <h2 style="margin-top: 10px;">Sell</h2>
  <div class="row">
    <div *ngFor="let product of products | async">
      <div *ngIf="product.type == 'Sell'">
        <app-product-item [product]="product"></app-product-item>
      </div>
    </div>
  </div>

  <h2 style="margin-top: 10px">Lend</h2>
  <div class="row">
    <div *ngFor="let product of products | async">
      <div *ngIf="product.type == 'Lend'">
        <app-product-item [product]="product"></app-product-item>
      </div>
    </div>
  </div>

  <h2 style="margin-top: 10px">Hire</h2>
  <div class="row">
    <div *ngFor="let product of products | async">
      <div *ngIf="product.type == 'Hire'">
        <app-product-item [product]="product"></app-product-item>
      </div>
    </div>
  </div>
</div>
